<div id='menubar'>
  <div class='link'><%= link_to "Schedules", schedules_path %></div>
  <div class='link'><%= link_to "Employees", employees_path %></div>
  <div class='link'><%= link_to "Coverage", coverage_index_url %></div>
  <div class='link'><%= link_to "Roles", roles_path %></div>
</div>

